
.buscador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente el contenido */
    background-image: url('https://www.mundodeportivo.com/alfabeta/hero/2022/11/pokemon-ue.jpeg?width=1200&aspect_ratio=16:9'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir el contenedor */
    min-height: 100vh; /* Altura mínima del contenedor para cubrir toda la pantalla */
  }
  
  .title {
    font-size: 30px;
    color: #000000; /* Color de texto blanco */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto para resaltar el título */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
  }


  .pokemon-name {
    font-size: 36px; /* Tamaño de fuente más grande para el nombre del Pokémon */
    font-weight: bold; /* Texto en negrita para el nombre del Pokémon */
    color: #000000; /* Color de texto para el nombre */
  }
  
  .pokemon-detail {
    font-size: 24px; /* Tamaño de fuente más grande para los detalles del Pokémon */
    font-weight: bold; /* Texto en negrita para los detalles del Pokémon */
    color: #000000; /* Color de texto para los detalles */
  }
  